/* base CSS */

* {
  box-sizing: border-box;
}

body {
  background-color: #E6E6FA;
  color: #333333;
  font-size: 95%;
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
}

nav a {
  color: #333333;
}

nav a:link, a:visited {
  text-decoration: none;
}

nav a:hover, a:active {
  color: black;
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

nav li {
  display: inline;
  margin: 10px 10px 0 10px;
}

h1, h2, h3, h4 {
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
}

h1 {
  color: #483D8B;
  font-size: 46px;
  text-align: center;
}

h2 {
  color: #2F4F4F;
}

.go-back {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}
.go-back a {
  color: #333333;
}

.go-back a:link, a:visited {
  text-decoration: none;
}

.go-back a:hover, a:active {
  color: black;
  font-weight: bold;
}

footer {
  text-align: left;
  margin: 0;
  width: 100%;
  padding: 10px;
}

.credits-title {
  text-align: left;
  font-size: 20px;
}

footer a {
  color: #333333;
  padding: 20px;
}

footer a:link, a:visited {
  text-decoration: none;
}

footer a:hover, a:active {
  color: black;
  font-weight: bold;
}

.license {
  text-align: center;
  margin-top: 10px;
}

.license a {
  padding: 0;
}

/*Index CSS*/

.banner {
  display:block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 70%;
}

.h2-index {
  font-size: 32px;
  text-align: center;
  margin: 10px auto;
}

.letters {
  float: left;
  margin: 5px;
  width: 7%;
}

.second-p, .third-p, .fourth-p {
  clear: left;
}

.first-p, .second-p, .third-p, .fourth-p {
  margin: 10px;
} 

/*About me CSS*/

.h2-about {
  font-size: 24px;
  text-align: center;
}

.h3-about {
  color: #333333;
  font-size: 20px;
  padding: 10px;
}

.ul-about {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}

.ul-about li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 10px;
  border: 2px solid #9287c4;
  border-radius: 10px;
}

.ul-about li p {
  text-align: left;
}

.shecodes {
  width:80%;
}

.psychology {
  width: 68%;
}

.music {
  background-color: #2B2D42;
  width: 78%;
}

.about-descricao {
  padding: 10px;
}

.about-destaque {
  font-weight: bold;
  margin-bottom: 5px;
  padding: 10px;
}

.link-table:link, .link-table:visited {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.link-table:hover, .link-table:active {
  color: #f48024;
  font-weight: bold;
}

.link-shecodesart, .link-osmi, .link-lesmis {
  text-decoration: none;
  font-weight: bold;
}

.link-shecodesart {
   color: #bf0b41;
}

.link-osmi {
  color: #38826b;
}

.link-lesmis {
  color: #201047;
}

.link-stackoverflow {
  text-decoration: none;
  color: #f48024;
}

table {
  margin-left: 150px;

}

caption {
  background-color: grey;
  color: white;
  border: 1px solid #000000;

}

th, td {
  border: 1px solid #000000;
  padding: 3px 10px;
}

.table-right {
  text-align: center;
}

.table-source {
  margin-left: 150px;
  font-size: 13px;
}

/*Contact CSS*/

.p-contact {
  margin-left: 20%;
  font-size: 20px;
}

.main-contact ul {
  vertical-align: top;
  font-style: italic;
  display: inline-block;
  width: 40%;
  margin-left: 15%;
}

.house {
  width: 30%
}

.main-contact {
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 40px auto 40px 80px;
}

form label, form p {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
 }

samp {
  font-family: monospace;
}

.input-padrao {
  display: block;
  margin-bottom: 20px;
  padding: 5px 3px 5px 2px;
  width: 50%;
  border-radius: 5px;
}

#email-example, .phone-example {
  margin-left: 20px;
}

.message-type {
  display: block;
  margin-bottom: 10px;
  padding: 4px 0;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

#item-message {
  margin-top: 10px;
}

.form-item {
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.radio-choice input, .radio-choice label {
  cursor: pointer;
}

.checkbox {
  margin: 20px 5px;
  cursor: pointer;
}

.input-submit {
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
  width: 30%;
  background-color: #3246a8;
  color: #ffffff;
  transition: 1s background-color;
  cursor: pointer;
}

.input-submit:hover {
  background-color: #151e4a;
}

