* {
  box-sizing: border-box;
  overflow: auto;
}

body {
  background-color: #E6E6FA;
  color: gray;
  font-size: 95%;
  text-align: justify;
  margin: 15px 100px 75px 40px;
  font-family: 'Open Sans', sans-serif;
}

nav{
  position: absolute;
  top:0;
  padding: 20px;
  margin: 10px;
  height: 36px;
}

.banner {
  display:block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 90%
}

h1, h2, h3 {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;

}

h1 {
  color: #483D8B;
  font-size: 46px;
  margin: 60px 0px 20px 0px;
}

h2 {
  color: #2F4F4F;
  font-size: 28px;
  margin: 20px;
  }

h3 {
  color: #BC8F8F;
  font-size: 20px;
  }

p {
    margin-left: 40px;
}

.indent {
  margin-left: 10px;
}

a {
  color: #808080;
  margin-left: 30px;
}

.shecodesart {
  text-align: center;
  }

.me {
  width: 30%
}

strong{
  color: red;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  color: #708090;
  font-weight: bold;
}

.house {
  width: 30%
}

.adress {
  margin-left: 20%;
  font-size: 20px;
  }

.adress_items {
  font-style: italic;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin-left: 15%;
}



nav li{
  display: inline;
  margin-left: 10px;
}

footer {
  margin:auto;
  bottom: 0;
  text-align: left;
}
