/* base CSS */

* {
  box-sizing: border-box;
}

body {
  background-color: #E6E6FA;
  color: #333333;
  font-size: 95%;
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
}

nav a {
  color: #333333;
}

nav a:link, a:visited {
  text-decoration: none;
}

nav a:hover, a:active {
  color: black;
  font-weight: bold;
}

nav ul{
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

nav li{
  display: inline;
  margin: 10px 10px 0 10px;
}

h1, h2, h3, h4 {
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
}

h1 {
  color: #483D8B;
  font-size: 46px;
  text-align: center;
}

h2 {
  color: #2F4F4F;
}

a.go-back {
  color: #333333;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

a.go-back:link, a.go-back:visited {
  text-decoration: none;
}

a.go-back:hover, a.go-back:active {
  color: black;
  font-weight: bold;
}

footer {
  text-align: left;
  margin: 0;
  width: 100%;
  padding: 10px;
}

.credits-title {
  text-align: left;
  font-size: 20px;
}

footer a {
  color: #333333;
  padding: 20px;
}

footer a:link, a:visited {
  text-decoration: none;
}

footer a:hover, a:active {
  color: black;
  font-weight: bold;
}

.license {
  text-align: center;
  margin-top: 10px;
}

.license a {
  padding: 0;
}

/*Index CSS*/

.banner {
  display:block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80%;
}

.h2-index {
  font-size: 32px;
  text-align: center;
  margin: 10px auto;
}

.p-index {
  margin-left: 40px;
}

.indent {
  margin-left: 10px;
}

/*About me CSS*/

.h2-about {
  font-size: 24px;
  text-align: center;
}

.h3-about {
  color: #333333;
  font-size: 20px;
}

.ul-about {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.ul-about li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  border: 2px solid #000000;
  border-radius: 10px;
}

.ul-about li:hover {
  border-color: #333333;
  border-width: 4px;
}

.ul-about li:hover h3 {
  font-size: 26px;
  font-weight: bold;
}

.ul-about li:active {
  border-color: #088C19;
  border-width: 4px;
}

.shecodes {
  width:80%;
}

.psychology {
  width: 80%;
}

.music {
  background-color: #2B2D42;
  width: 80%;
}

.about-descricao {
  padding: 10px;
}

.about-destaque {
  font-weight: bold;
  margin-bottom: 5px;
  padding: 10px;
}

/*Contact CSS*/

.p-contact {
  margin-left: 20%;
  font-size: 20px;
}

.ul-contact {
  vertical-align: top;
  font-style: italic;
  display: inline-block;
  width: 40%;
  margin-left: 15%;
}

.house {
  width: 30%
}
